@charset "utf-8";

/*

Shorthand:

margin: 40px; refer to all 4 sides
margin: 40px auto; Top/bottom right/left
margin: 10px auto 0; top right/left bottom
margin: 40px 30px 5px 10px; top right bottom left

Start at the top, then continue clockwise around the box

Units of mesurement

Width = %
Hieght = rem
Type = rem
Graphics = px (eg. boarder would be graphic

*/


/* Control the size of the viewport */
@-moz-viewport { width: device-width; scale: 1; } /* For firefox */
@-ms-viewport { width: device-width; scale: 1; } /* for internet explorer */
@-o-viewport { width: device-width; scale: 1; } /* for opera */
@-webkit-viewport { width: device-width; scale: 1; } /* for Safari & Chrome */
@viewport { width: device-width; scale: 1; } /* the W3C Standard */

/* Adjust padding so it draws on the box interior */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    
/* Control the zoom of the type on moblie */
    
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
/* Controls the Typography size on moblie and destop */
    
    font-size: 100%; /* 100% - 16px - 1rem */
    
    font-family: Georgia, Times, serif;
}

img { /* Images are resonsive */
	width: 100%;
    display: block; 
}

body {
    padding: 0;
    margin: 0;
}

.masthead {
    background-color: maroon;
    overflow: hidden; /* forces parent to wrap around it's child */
}

.logo {
    height: 4.5rem;
    width: auto;
    margin: .5rem 5%;
    
    /*float: right;*/
    /*margin: .5rem auto*/
}

article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
}

h1 {
    margin: 1.5rem 0;
    font-size: 5rem;
    line-height: 4.5rem;
}

h1 + p {
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    line-height: 1.5rem;
    margin: 0 0 1.5rem;
}

figure {
    margin: 0 auto 1.5rem; /*auto incase you want smaller */
    width: 100%; /* Size can be smaller than, but not larger than 100% */
}

figcaption {
    font-size: .75rem;
    margin: .5rem 0 0;
}

footer {
    background-color: brown;
    overflow: auto;
}

footer p {
    font-size: .75rem;
    margin: .5rem 5% 5rem;
    color: white;
}

footer a {
    color: white;
}